body{
    background-color: rgb(44, 44, 44);
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

img {
    padding: 10px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

li {
    
    list-style: none;
    display: inline;
    justify-content: space-around;
}

a {
    
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}